wp-admin/*
wp-content/uploads
wp-content/plugins
wp-content/languages/*
wp-includes/*
wp-snapshots

.idea
.htaccess

#wordpress files
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-singup.php
wp-trackback.php
wmlrpc.php

wp-content/themes/ieh/yarn.lock
wp-content/themes/ieh/package-lock.json
wp-content/themes/ieh/node_modules/*
wp-content/themes/ieh/bower_components/*