body,
html{
  height: 100%;
  background-color: $branco;
}

body{
  font-family: $ff-montserrat;
  overflow-x: hidden;

  &::-webkit-scrollbar
  {
    width: 9px;  /* for vertical scrollbars */
    height: 9px; /* for horizontal scrollbars */
    background: transparent !important;

  }

  &::-webkit-scrollbar-track
  {
    webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: transparent !important;

  }

  &::-webkit-scrollbar-thumb
  {
    background: $cinza-5d;
    @include border-radius(10px);
  }
}


a{
  @extend .transition;

  &:hover{
    text-decoration: none !important;
    opacity: 0.7;
  }
}

.parallax-effect{
  /* Set a specific height */
  width: 100%;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home-parallax {
  /* The image used */
  background-image: url("../img/bg/bg-ieh.png");
}

#home-o-que-fazemos{
  background-image: url("../img/bg/home-fullscreen-bg.jpg");
}

#home-bg-img-parallax-2{
  background-image: url("../img/bg/bg-img2.png");
  position: relative;
  max-height: 500px;
  display: flex;
  overflow: hidden;
}

.content-block{
  padding-top: 80px;
  padding-bottom: 80px;
}

.little-ball{
  position: absolute;
  margin: 2px;
  display: inline-block;
  font-size: 12px;
}

.text-uppercase{
  text-transform: uppercase !important;
}

.text-content{
  font-family: $ff-montserrat;
  font-size: 28px;
}

.item{
  //background-image: url('https://images.unsplash.com/photo-1484256017452-47f3e80eae7c?dpr=1&auto=format&fit=crop&w=2850&q=60&cs=tinysrgb');
  //background-size: cover;
  //background-position: center center;
  background-color: whitesmoke;
  @include box-shadow(1px, 4px, 10px, 2px, $cinza-line);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @extend .transition;

  &:hover{
    background-color: $azul-claro;
    .text-box{
      color: $branco !important;
    }
  }

  .square-content{
    align-items: center;
    padding: 20px;

    .img-icon{
      display: block;
      margin: 0 auto 25px;
      text-align: center;
    }

    .text-box{
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $ff-montserrat;
      color: $azul-claro;
      text-align: center;
      line-height: 22px;
      font-size: 16px;

    }
  }
}

.square-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
SquareGrid{
  // The content width you use on your website
  --content-width: 65vw;

  // The size of the gutter
  --gutter: 40px;

  // The amount of columns
  --columns: 1;


  // This is the calculation for the row height.
  --row-size: calc(
          ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
          ) / var(--columns)
  );

  display: grid;

  width: 100%;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}


// This is again demo. Just decide with media queries when to add another column

@media (min-width: 450px){
  SquareGrid{
    --columns: 2;
  }
}

@media (min-width: 750px){
  SquareGrid{
    --columns: 3;
  }
}

@media (min-width: 1200px){
  SquareGrid{
    --columns: 4;
  }
}

.modal-fale-conosco{
  font-family: $ff-montserrat;

  .title-minor{
    margin-bottom: 30px;
    text-align: center;
  }
  .modal-content{
    padding: 20px 40px;
  }
}

.modal-content{
  border-radius: 0 !important;
}

label{
  font-family: $ff-montserrat;
  font-weight: 700;
}

.negrito{
  font-weight: 700 !important;
}

.box-mapa{
  display: block;
}
.mapa-brasil{
  display: block;
  width: 100%;
  height: 100%;

}

.slick-prev,
.slick-next {
  &:before{
    color: black;
  }
}

.slider{
  border: none !important;
  padding: 0 40px;

  //&:before{
  //  display: none;
  //}
}

.slick-arrow{
  opacity: 0.7;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}

.icon-arrow-right,
.icon-arrow-left{
  top: 0;
  margin-top: 30px;
  position: absolute;
  display: inline-block;
}

.icon-arrow-right{
  right: 0;
}

.icon-arrow-left{
  left: 0;
}

.box-depoimentos{
  text-align: center;
  color: $azul-claro;

  .text-depoimento,
  p, pre{
    color: $azul-claro;
    font-weight: 500;
    font-family: $ff-montserrat;
    font-size: 24px;
  }

  pre{
    text-align: center;
    display: block;
    overflow: hidden;
  }

  .author-depo{
    font-weight: 700;
    font-size: 22px;
    font-family: $ff-myriad;
    text-align: center;
  }
}

.slick-dots{
  bottom: -40px !important;
  display: block;
}

.slick-dots li button:before{
  content: '•' !important;
  font-size: 12px !important;
  border: 1px solid $cinza-line;
  border-radius: 50%;
}

.slick-slider{
  position: relative;
  display: block;

  &:before{
    content: '';
    @extend .quotes;
    position: absolute;
    left: 0;
    top: 0;
    margin: -80px 0 0 -10px;
    overflow: hidden;
  }

  &:after{
    content: '';
    @extend .quotes;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 -30px 20px 0;
    overflow: hidden;
    @include rotate(180deg);
  }
}

.quotes{
  background: url('../img/icons/quote.png');
  width: 64px;
  height: 64px;
  display: block;
}

.page-content{
  margin-top: 0;
  padding-bottom: 100px;
}

.content-text-bottom{
    bottom: 0;
    margin: 0 0 20% 0 !important;
    letter-spacing: 5px;
    font-weight: 400;
}

.page-content{
  font-family: $ff-montserrat;
  font-size: 30px;
  color: $cinza-5d;
  text-align: justify;
}

.margin-bottom{
  margin-bottom: 100px;
}

.row-nossos-projetos{
  margin-bottom: 50px;

  &:after{
    content: '';
    width: 100%;
    display: block;
    height: 1px;
    background-color: $cinza-clarinho;
    position: relative;
    margin-top: 50px;
  }

  &:last-child{
    &:after{
      height: 0;
    }
  }

  ul{
    list-style: none;

    li{
      position: relative;
      font-size: 22px;
      margin-bottom: 10px;
      &:before{
        content: '';
        background-color: $azul-claro;
        width: 8px;
        height: 8px;
        display: inline-block;
        top: 0;
        left: 0;
        position: absolute;
        margin: 14px 0 0 -26px;
        border: none;
      }
    }
  }
  
  a{
    color: $azul-claro;
  }
}


.content-full,
.full-content{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;


}

.page-quem-somos{

  .title-default{
    &:after{
      background-color: $verde-lodo;
    }
  }

  .coluna-direita{
    width: 40%;
    display: inline-block;
    position: relative;
    left: 0;

  }
  .coluna-esquerda{
    display: inline-block;
    width: 49%;
    margin-left: 50px;
    position: absolute;
    margin-top: 10px;
    .box-logo{
      margin: 0;
      width: 220px;
    }
    img{
      width: 100%;
    }

    .text-after-logo{

      word-spacing: 5px;
      font-size: 16px;
      margin-top: 10px;
      text-align: justify;
    }
  }
}


.line-mt{
  margin-top: 80px;
  margin-bottom: 80px;
}

.content-sobre-nos{
  color: $cinza-5d;

  .block-left-image{
    max-height: 400px;
    overflow: hidden;
  }
  .block-right-text{
    .content-text{
      padding-left: 20px;
      padding-right: 10%;
      h4{
        font-size: 28px;
        display: block;
        font-weight: 700;
        color: $cinza-5d;
        padding: 0 0 30px;
        margin: 0;
      }

      p{
        font-size: 24px;
        line-height: 34px;
      }

    }
  }

}

.content-a-coordenacao{
  color: $branco;
  padding-bottom: 80px;

  .box-membrxs{
    margin-bottom: 40px;
  }
  .title-section{
    font-weight: 400;
    font-size: 60px;
    padding: 80px 0 0 80px;
    letter-spacing: 8px;
  }

  .block-right-text{
    padding-right: 7%;
  }

  p{
    margin-bottom: 10px;
  }

  .cargo{
    padding-top: 10px;
    font-size: 20px;
  }

  .nome{
    font-size: 26px;
  }

  .resumo{
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.section-content{
  .block-left-image{
    max-height: 350px;
    overflow: hidden;
  }
  .block-right-text{
    padding-right: 7%;
    padding-left: 30px;

    p{
      padding-bottom: 50px;
      margin-bottom: 0;
    }
  }

  .content-text{
    font-size: 26px;
    color: $branco;

    h1,h2,h3,h4,h5,h6{
      color: $branco;
    }

    h3{
      font-size: 30px;
      margin: 0;
      padding: 0 0 20px 0;
      font-weight: 700;
    }
    h4,h5{
      font-size: 24px;
      padding-bottom: 5px;
    }
  }
}

.section-missao{
  .title-section{
    padding:80px 0 0 0;
    font-size: 60px;
    font-weight: 400;
  }
}

#page-content.page-quem-somos{
  padding-bottom: 0 !important;
}

.section-transparencia{
  padding-bottom: 80px;
  .title-section{
    margin: 120px 0 80px 80px;
    font-size: 63px;
    letter-spacing: 12px;
    font-weight: 500;
  }
  h4{
    padding-top: 40px;
  }
  .content-text-block-3{
    line-height: 42px;
  }
}

.bg-dotted-green{
  background-color: $verde-shu;
  background-image: radial-gradient(circle, $verde-sha 15%, transparent 10%), radial-gradient(circle, $verde-sha 15%, transparent 10%);
  background-size: 25px 25px;
  background-position: 0 0, 63px 87px;
}