body,
html{
  height: 100%;
  background-color: $branco;
}

body{
  font-family: $ff-montserrat;

  &::-webkit-scrollbar
  {
    width: 10px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }

  &::-webkit-scrollbar-track
  {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb
  {
    background: rgba(0, 0, 0, 0.5);
  }
}


a{
  &:hover{
    text-decoration: none !important;
    opacity: 0.7;
  }
}

.parallax-effect{
  /* Set a specific height */
  width: 100%;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home-parallax {
  /* The image used */
  background-image: url("../img/bg/home-fullscreen-bg.jpg");
  @extend .parallax-effect;
}

#home-o-que-fazemos{
  background-image: url("../img/bg/home-fullscreen-bg.jpg");
}

#home-bg-img-parallax-2{
  background-image: url("../img/bg/bg-img2.png");
  position: relative;
  max-height: 500px;
  display: flex;

  overflow: hidden;



}

.content-block{
  padding-top: 80px;
  padding-bottom: 80px;
}

.little-ball{
  position: absolute;
  margin: 2px;
  display: inline-block;
  font-size: 12px;


}

.text-uppercase{
  text-transform: uppercase !important;
}

.text-content{
  font-family: $ff-montserrat;
  font-size: 28px;
}

.transition{
  transition: all 0.5s ease;
}

.item{
  //background-image: url('https://images.unsplash.com/photo-1484256017452-47f3e80eae7c?dpr=1&auto=format&fit=crop&w=2850&q=60&cs=tinysrgb');
  //background-size: cover;
  //background-position: center center;
  background-color: whitesmoke;
  @include box-shadow(1px, 4px, 10px, 2px, $cinza-line);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @extend .transition;

  &:hover{
    opacity: 0.5;
  }

  .square-content{
    align-items: center;
    padding: 20px;

    .img-icon{
      display: block;
      margin: 0 auto 25px;
      text-align: center;
    }

    .text-box{
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $ff-montserrat;
      color: $azul-claro;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
    }
  }
}

.square-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
SquareGrid{
  // The content width you use on your website
  --content-width: 65vw;

  // The size of the gutter
  --gutter: 40px;

  // The amount of columns
  --columns: 1;


  // This is the calculation for the row height.
  --row-size: calc(
          ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
          ) / var(--columns)
  );

  display: grid;

  width: 100%;
  max-width: var(--content-width);

  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);

  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}


// This is again demo. Just decide with media queries when to add another column

@media (min-width: 450px){
  SquareGrid{
    --columns: 2;
  }
}

@media (min-width: 750px){
  SquareGrid{
    --columns: 3;
  }
}

@media (min-width: 1200px){
  SquareGrid{
    --columns: 4;
  }
}

.modal-fale-conosco{
  font-family: $ff-montserrat;

  .title-minor{
    margin-bottom: 30px;
    text-align: center;
  }
  .modal-content{
    padding: 20px 40px;
  }
}

.modal-content{
  border-radius: 0 !important;
}

label{
  font-family: $ff-montserrat;
  font-weight: 700;
}

.negrito{
  font-weight: 700 !important;
}

.box-mapa{
  display: block;
}
.mapa-brasil{
  display: block;
  width: 100%;
  height: 100%;

}

.slick-prev,
.slick-next {
  &:before{
    color: black;
  }
}

.slider{
  border: none !important;
  padding: 0 40px;

  //&:before{
  //  display: none;
  //}
}

.slick-arrow{
  opacity: 0.7;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}

.icon-arrow-right,
.icon-arrow-left{
  top: 0;
  margin-top: 30px;
  position: absolute;
  display: inline-block;
}

.icon-arrow-right{
  right: 0;
}

.icon-arrow-left{
  left: 0;
}

.box-depoimentos{
  text-align: center;
  color: $azul-claro;

  .text-depoimento,
  p, pre{
    color: $azul-claro;
    font-weight: 500;
    font-family: $ff-montserrat;
    font-size: 24px;
  }

  pre{
    text-align: center;
    display: block;
    overflow: hidden;
  }

  .author-depo{
    font-weight: 700;
    font-size: 22px;
    font-family: $ff-myriad;
    text-align: center;
  }
}

.slick-dots{
  bottom: -40px !important;
  display: block;
}

.slick-dots li button:before{
  content: '•' !important;
  font-size: 12px !important;
  border: 1px solid $cinza-line;
  border-radius: 50%;
}

.slick-slider{
  position: relative;
  display: block;

  &:before{
    content: '';
    @extend .quotes;
    position: absolute;
    left: 0;
    top: 0;
    margin: -80px 0 0 -10px;
    overflow: hidden;
  }

  &:after{
    content: '';
    @extend .quotes;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 -30px 20px 0;
    overflow: hidden;
    @include rotate(180deg);
  }
}

.quotes{
  background: url('../img/icons/quote.png');
  width: 64px;
  height: 64px;
  display: block;
}