.btn-saiba-mais{
  border: 2px solid $azul-claro;
  padding: 6px 5px 6px 30px;
  font-family: $ff-montserrat;
  color: $azul-claro;
  position: absolute;
  font-size: 14px;
  margin: 4px 0 0 10px;
  text-transform: uppercase;
  max-width: 150px;

  .label-button{
    border-left: 2px solid $azul-claro;
    padding: 8px;
  }

  @extend .transition;

  &:after{
    content: '*';
    font-size: 36px;
    position: absolute;
    color: $azul-claro;
    display: inline-block;
    left: 0;
    padding-left: 5px;
    line-height: 1;
    margin: -1px 0 0 2px;
  }

  &:hover{
    background-color: $azul-claro !important;
    color: $branco !important;

    &:after{
      color: $branco;
    }

    .label-button{
      border-left: 2px solid $branco;
    }
  }
}

.btn-white{
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: $branco;
  color: $preto;
  font-family: $ff-montserrat;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border: 2px solid $branco;

  @extend .transition;

  &:hover{
    background-color: transparent;
    color: $branco !important;
    opacity: 1 !important;
  }
}

.btn-fale-conosco{
  border-radius: 0 !important;
  font-family: $ff-montserrat;
  text-transform: uppercase;
  padding: 10px 28px !important;
  background-color: $branco;
  color: $azul-claro !important;
  display: inline-block;
  letter-spacing: 2px;
}

.wpcf7-submit{
  border-radius: 0 !important;
  background-color: $cinza-line !important;
  color: $branco;
  display: inline-block;
  padding: 12px 25px;
  text-transform: uppercase;
  margin-top: 5px;
  @extend .transition;

  &:hover{
    background-color: $cinza-5d !important;
    color: $branco !important;
  }
}

.button-plus{
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border:none !important;
  left: 0;
  margin-left: 20px;

  &:before,
  &:after{
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.25s ease-out;
  }

  /* Vertical line */
  &:before{
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    margin-left: -1px;
  }

  /* horizontal line */
  &:after{
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
  }

  &:hover{
    cursor: pointer;

    &:before{ transform: rotate(90deg); }
    &:after{ transform: rotate(180deg); }
  }
}

.btn-enviar-contato{
  background-color: $azul-claro !important;
  color: $branco !important;
  border-radius: 25px !important;
  font-size: 14px !important;
  margin: 25px 0 0 auto !important;
  border: $azul-claro 2px solid !important;
  padding: 10px 25px !important;
  display: block !important;

  @extend .transition;

  &:hover{
    border: $branco 2px solid !important;
  }
}