$preto: #000000;
$branco: #ffffff;
$cinza: #484c4b;
$cinza-line: #898980;
$cinza-5d: #5d5d5d;
$cinza-arrow: #898e8f;
$cinza-clarinho: #ebe8e5;

$cinza-strpe1: #464a49;
$cinza-stripe2: #3f3e40;
$azul-claro: #41b6d6;
$azul-superclaro: #b2e1ee;
$footer-bg: $azul-claro;

$verde-lodo: #036422;
$verde-sha: #056653;
$verde-shu: #057261;


.icon-white{
  color: $branco;
}

/*
* Color Classes
*/
.c-white{
  color: $branco !important;
}

.c-azul-claro{
  color: $azul-claro;
}

.c-cinza-5d{
  color: $cinza-5d;
}

.c-verde-lodo{
  color: $verde-lodo;
}


/*
* Background Classes
*/

.bg-azul-claro{
  background-color: $azul-claro;
}

.bg-cinza-claro{
  background-color: $cinza-line;
}

