.header-home{
  display: none;
}

.logo-home,
.content-top-right{
  display: inline-block;
}

.logo-home{
  &:hover{
    opacity: 0.7;
  }
}
.logo-home-img{
  max-width: 250px;
  position: absolute;
}
.menu-fixed{
  display: block !important;
}

.logo-home-img,
.content-top-right{
  margin-top: 5%;
}

.content-top-right{
  float: right;
}

.menu-home-content{
  position: absolute;
  bottom: 0 !important;
  text-align: center;
  display: block;
  margin: 0 auto 3%;
  width: 100%;
}

.navbar-nav-home-menu{
  width: 100%;
  list-style: none;
  bottom: 0;
  position: relative;
  text-align: center;
  display: block;

  li{
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
    margin: 0 20px;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    display: inline-block;

    a{
      color: $branco;
      font-size: 20px;
      font-weight: 700;
      font-family: $ff-montserrat;
      letter-spacing: 2px;
      opacity: 1 !important;
      line-height: 12px;

      //&:after{
      //  content: '|';
      //  display: inline-block;
      //  top: 0;
      //  right: 0;
      //  position: absolute;
      //  color: $branco;
      //
      //  margin: 6px -7px 2px 0;
      //}

      //&:after{
      //  content: '';
      //  display: block;
      //  width: 30px;
      //  height: 2px;
      //  background-color: $azul-claro;
      //  margin: 20px auto 0;
      //
      //}
      
      &:hover{
        color: $azul-claro;
      }
    }

    &:nth-child(4){
      margin-top: -10px;
    }
  }



}

.logo-margin-bottom{
  margin-bottom: 30px;
}

.social-icon{
  width: 32px;

  &:hover{
    opacity: 0.7;
  }
}

.switch-chose {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
  margin-bottom: -7px;
  margin-left: 10px;

  .pt,
  .es{
    position: absolute;
    color: $branco;
    bottom: 0;
    margin-bottom: -24px;
  }
  .pt{
    left: 0;
  }

  .es{
    right: 0;
  }
  input {
    display:none;
  }
}

.slider-chose {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid $branco;

  &:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider-chose {
  background-color: transparent;
}

input:focus + .slider-chose {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-chose:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

/* Rounded sliders */
.slider-chose.round {
  border-radius: 34px;
}

.slider-chose.round:before {
   border-radius: 50%;
}

.icons-social-top{
  z-index: 99;
  display: block;
}

.home-begin-content{
  overflow: hidden;

  &,
  .container,
  .row{
    height: 100%;
  }
}

.menu-fixed{
  background-color: $branco;
  top: 0;
  height: 90px;
  position: fixed;
  display: block;
  padding: 10px 0;
  z-index: 99;
  @include box-shadow(0, 4px, 6px, -6px, $cinza-5d);
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;

  @extend .fade-in;

  .logo-home-fixed{
    display: block;
    width: auto;
    max-width: 100px;
    margin: 0 !important;

    .logo-home-img{
      max-width: inherit;
      margin: 0;
    }
  }

  #logo-fixed-content{
    display: block;
  }

  .navbar-nav-home-menu{
    padding: 12px 0;
    text-align: right;
    li{
      font-size: inherit;
      line-height: 20px;
      a{
        font-size: 16px;
        letter-spacing: 0;
        color: $cinza-5d;

        &:hover{
          color: $azul-claro;
        }
      }
    }
  }
}

#logo-fixed-content{
  display: none;
}

.menu-fixed-content{

}