#background-img-home{
  background-color: $azul-claro;
}
.home{
  .home-begin-content{
    .box-text-home {
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
.home-begin-content{
  .box-text-home{
    right: 0;
    position: absolute;
    bottom: 0;

    .text-home{
      font-family: $ff-montserrat;
      font-size: 5em;
      text-align: right;
      font-weight: 300;
      z-index: 0;
      margin: 0;
      padding: 0;
      line-height: 1;

    }
  }
}

.lines-fullsize{
  width: 100%;
  height: 8px;
  display: block;
  top: 0;
}

#home-quem-somos{
  padding: 100px 0;

  .title-section{
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 4px;
    display: inline-block;

    &:after{
      background-color: $azul-claro;

    }
  }
}

.list-quem-somos{
  width: 100%;
  margin-top: 30px;
}

.box-content-quem-somos{
  float:left;
  position: relative;
  width: 48%;
  padding-bottom : 38%; /* = width for a 1:1 aspect ratio */
  margin:1%;

  overflow:hidden;

  .box-info{
    position:absolute;
    height:80%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    font-family: $ff-montserrat;
    text-transform: uppercase;
    text-align: center;
    color: $branco;
    background-color: $azul-claro;
    font-size: 16px;
    letter-spacing: 3px;

    .text-subtitle{
      width: 100%;
      padding: 10px;
      background-color: $azul-claro;
      display: block;

      &:before{
        content: '';
        //background: url('../img/icons/add.png');
      }
    }
  }
}

#home-o-que-fazemos{
  background-image: url(../img/bg/o-que-fazemos-home-dark.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: $preto;
  //@include brightness(50%);
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 150px;

  .title-section{
    color: $branco;
    display: inline-block;
    font-size: 42px;
    letter-spacing: 3px;

    &:after{
      background-color: $branco;
    }
  }

header  .text-content{
    font-size: 26px;
  }

}

#home-nossos-projetos{
  padding-top: 80px;
  padding-bottom: 100px;

  .title-section{
    display: inline-block;
    font-weight: 400;
    &:after{
      background-color: $azul-claro;
    }
  }
}

.list-nossos-projetos{
  li{
    display: inline-block;
    background-color: $branco;
    text-align: center;
  }

  .box-square-white{
    display: block;
    text-transform: uppercase;
    color: $azul-claro;
    font-family: $ff-montserrat;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    width: 100%;
    padding-bottom: 24%;
  }
}

#home-apoie-nossos-projetos{
  padding-top: 170px;
  padding-bottom: 60px;

  .title-section{
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 0 0 40px 10px;


    &:after{
      display: block;
      content: '';
      border-left: 4px solid $branco;
      height: calc(100% - 40px);
      position: absolute;
      top: 0;
      margin-left: -30px;
    }
  }

  .subtext-title{
    color: $branco;
    font-family: $ff-montserrat;
    text-align: justify;
  }
}

#home-ieh-em-numeros{
  background-image: linear-gradient(139deg, #f2f2f2 8.33%, #ffffff 8.33%, #ffffff 50%, #f2f2f2 50%, #f2f2f2 58.33%, #ffffff 58.33%, #ffffff 100%);
  background-size: 18.29px 15.90px;

  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: $verde-lodo;
    top: 0;
    position: relative;
  }

  .title-section{
    color: $verde-lodo;
    font-size: 50px;
    font-weight: 400;

    .first-word{

    }

    &:after{
      background-color: $verde-lodo;
    }
  }

  .list-ieh-numeros{
    li{
      line-height: 160px;

      &:nth-child(1){
        .numero{
          font-size: 80px;
        }
        .box-numeros{
          margin-left: 8%;
        }
        .text{
          position: absolute;
          margin-top: 45px;
          font-size: 18px;
        }
      }

      &:nth-child(2){
        position: relative;
        .pre-text{
          text-align: right !important;
          right: 0;
          padding-right: 5px;
          font-weight: 400;
          font-size: 20px;
        }
        .icon{
          display: inline-block;
          position: absolute;
          margin: 45px 0 0 5px;
        }
        .text{
          display: inline-block;
          position: absolute;
          margin: 55px 0 0 80px;
        }
      }

      &:nth-child(3){
        .box-numeros{
          margin-left: 10%;

          .numero{
            font-size: 80px;
            position: relative;
            margin-top: -5px;
          }

        }
        .icon{
          width: 80px;
          height: 100px;
          margin: 0 10px -20px 10px;
        }
        .text{
          position: absolute;
          margin-top: 55px;
        }
      }

    }
    .numero{
      color: $azul-claro;
      font-size: 60px;
      font-weight: 700 !important;
      font-family: $ff-montserrat;
      display: inline-block;
    }

    .pre-text,
    .text{
      display: inline-block;
      font-family: $ff-montserrat;
      line-height: 20px;
      font-size: 20px;
    }
  }
}

.content-mapa{
  position: relative;
  .box-numeros{
    text-align: right;
    position: absolute;
    width: 100%;
    .numero{
      color: $azul-claro;
      font-family: $ff-montserrat;
      font-size: 80px;
      font-weight: 700;
      display: inline-block;

    }

    .text{
      display: inline-block;
      text-align: left;
      font-family: $ff-montserrat;
      font-size: 20px;
      line-height: 26px;
      color: $verde-lodo;
      margin-left: 10px;
    }
  }

  .box-mapa{
    padding-top: 50px;
  }

  .text-area-atuacao{
    padding-top: 30px;
    text-align: justify;
    display: block;
    font-family: $ff-montserrat;
  }
}


#home-depoimentos{
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: $cinza-clarinho;
}

.bg-stripped-transversal{
  background-image: linear-gradient(149deg, $cinza-stripe2 4.55%, $cinza-strpe1 4.55%, $cinza-strpe1 50%, $cinza-stripe2 50%, $cinza-stripe2 54.55%, $cinza-strpe1 54.55%, $cinza-strpe1 100%);
  background-size: 42.72px 25.67px;

  padding-top: 50px;
  padding-bottom: 50px;
}

#home-apoiadores{
  .title-section{
    text-transform: none;
    text-align: center;
    color: $branco;
    font-weight: 500;
  }
}


.list-parceiros-apoiadores{
  display: block;
  margin: 0 auto;
  text-align: center;

  li{
    margin: 28px !important;

    &:nth-child(1){
      img{
        width: 180px;
      }
    }

    &:nth-child(2){
      img{
        width: 150px;
      }
    }

    &:nth-child(3){
      img{
        width: 200px;
      }
    }

    &:nth-child(4){
      img{
        width: 130px;
      }
    }

    &:nth-child(5){
      img{
        width: 120px;
      }
    }

    &:nth-child(6){
      img{
        width: 130px;
      }
    }

    &:nth-child(7){
      img{
        width: 130px;
      }
    }

    &:nth-child(8){
      img{
        width: 160px;
      }
    }

    &:nth-child(9){
      img{
        width: 120px;
      }
    }

    &:nth-child(10){
      img{
        width: 110px;
      }
    }

    &:nth-child(11){
      img{
        width: 180px;
      }
    }

    &:nth-child(12){
      img{
        width: 120px;
      }
    }

    &:nth-child(13){
      img{
        width: 180px;
      }
    }
  }
}


.box-content-quem-somos{

  .arrow-down{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid $azul-claro;
    position: absolute;
    margin-left: 9px;
  }
}

.modal-fale-conosco{
  font-family: $ff-montserrat;
  .modal-header{
    border-bottom: none !important;
    padding: 0;

    .close{
      font-size: 45px;
      font-weight: 400;
    }
  }
  .modal-dialog{
    max-width: 550px;

    .modal-content{
      background-color: $cinza-bg;
      border-radius: 0 !important;
      padding: 10px 40px 30px;
    }
  }

  .modal-body{
    padding: 0;
  }

  .modal-title{
    font-size: 26px;
    text-transform: uppercase;
    color: $azul-claro;
    text-align: center;
    margin: 0 auto 20px;
    font-weight: 700;
  }

  .text-modal{
    font-size: 16px;
    line-height: 30px;
    color: $azul-claro;
    margin-bottom: 0;

    a{
      color: $azul-claro;
      font-weight: 700;
    }
  }

  label{
    color: $azul-claro;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-top: 20px;
  }

}

/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: $screen-xs-min) {
  #background-img-home {
    height: 100%;
    background-color: $azul-claro;
  }

  .logo-margin-bottom{
    margin-bottom: 0;
  }

  .home-begin-content {
    .box-text-home {
      margin-top: 50px;
      .text-home {
        font-size: 4em;
      }
    }
  }

  .page-o-que-fazemos{
    .title-section{
      font-size: 40px;
      font-weight: 700;
      text-shadow: 1px 1px $preto;
    }
  }

  #content-text-oq-fazemos{
    p{
      font-size: 22px;
      text-align: right;
    }
  }

  .list-objetivos{
    li{
      text-align: left;
    }
  }

  .bloco-texto-apos-imagens{
    p{
      text-align: center;
    }
  }


  #home-quem-somos{
    .btn-saiba-mais{
      display: inline-block;
      position: relative;
    }

    .text-content{
      font-size: 28px;
    }
  }

  .box-content-quem-somos {
    width: 100%;
    padding-bottom: 70%;
    margin: 5%;
  }

  #home-o-que-fazemos{
    .text-content{
      font-size: 18px;
    }
  }


  .item  {
    .square-content{
      .text-box{
        font-size: 16px;
        line-height: 22px;
      }
      .img-icon{
        margin: 0 auto;
      }
    }
  }

  #home-ieh-em-numeros {
    .list-ieh-numeros {
      li{
        .fa-plus{
          margin:-25px 0 0 -5px;
          position: absolute;
        }
      }
    }
  }

  .content-mapa{
    .box-mapa{
      padding-top: 100px;
    }

    .text-area-atuacao{
      font-size: 24px;
    }
  }


  .logo-footer{
    margin: 0;
    padding: 0 30px 30px;
    max-width: 100%;
  }

  #home-apoie-nossos-projetos{
    .title-section{
      font-size: 40px;
    }

    .subtext-title{
      font-size: 20px;
      text-align: left;
    }

    .btn-white{
      display: block;
      text-align: center;
    }
  }

  .slick-slider{
    &:after{
      margin: 0 -5px 25px 0;
    }
  }

  #home-ieh-em-numeros {
    .list-ieh-numeros {
      li{
        &:nth-child(1) .box-numeros{
          .numero{
            font-size: 60px;
          }
        }
      }
    }
  }

  #home-ieh-em-numeros {
    .list-ieh-numeros {
      .numero{
        font-size: 50px;
      }
      li{
        &:nth-child(1) .box-numeros{
          .numero{
            font-size: 60px;
          }

        }
        &:nth-child(3) {
          .box-numeros{
            margin-left: 0;

            .numero{

            }
          }
        }
      }
    }

    .text-area-atuacao{
      font-size: 18px;
    }
  }

  .slick-dots{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: relative !important;
  }

  .btn-saiba-mais{
    margin: 10px 0;
    display: block;
  }
}

@media (min-width: $screen-sm-min) {
  .icon-arrow-left{
    margin: 8% -2% 0;
  }

  .icon-arrow-right{
    margin: 8% -2% 0;
  }

  .box-content-quem-somos{
    float:left;
    position: relative;
    width: 50%;
    padding-bottom : 40%; /* = width for a 1:1 aspect ratio */
    margin:0;

    overflow:hidden;
  }

  #background-img-home {
    height: 100%;
  }

  .home-begin-content {
    .box-text-home {
      .text-home {
        font-size: 5em;
      }
    }
  }

  .item{
    .square-content{
      .img-icon{
        margin: 0 auto 10px;
      }
      .text-box{
        font-size: 20px;
      }
    }
  }


  #home-o-que-fazemos{
    .text-content{
      font-size: 28px;
      letter-spacing: 0;
      word-spacing:0;
    }
  }

  #content-text-oq-fazemos{
    p{
      text-align: justify;
      font-size: 24px;
    }
  }

  .bloco-texto-apos-imagens{
    p{
      text-align: justify;
    }
  }

  .slick-slider{
    &:after{
      margin:0 -5px -50px 0;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .item{
    .square-content{
      .img-icon{
        margin-bottom: 20px;
      }
      .text-box{
        font-size: 24px;
      }
    }
  }

  .icon-arrow-left{
    margin: 0 -20% 0 -5%;
  }

  .icon-arrow-right{
    margin: 0 -5% 0 -20%;
  }

  .slick-slider{
    &:after{
      margin: 0 0 -30px 0;
    }
  }

  .list-objetivos{
    li{
      text-align: justify;
    }
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .item{
    .square-content{
      .img-icon{
        margin: 0 auto 10px;
      }
      .text-box{
        font-size: 16px;
      }
    }
  }

  .icon-arrow-left{
    margin: 0 -20% 0 -10%;
  }

  .icon-arrow-right{
    margin: 0 -10% 0 -20%;
  }


}