.input-text,
.input-textarea{
  border-radius: 20px !important;
  border: 1px solid $preto !important;
  padding: 12px 20px !important;
  font-family: $ff-montserrat;
}

.input-textarea{
  height: 140px;
}
