$screen-xs-min: 320px;
$screen-xs-max: 450px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@import '_mixins';

@import '_colors-variables';
@import '_fonts-variables';
@import '_buttons';
@import '_inputs';
@import '_titles';

@import '_icons';

@import '_header';
@import '_base';
@import '_home';
@import '_footer';

/**
** @mediaqueries (responsive)
 */
@media (min-width: $screen-xs-min) {

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}