@charset "UTF-8";
.transition, .btn-saiba-mais, .btn-white, .wpcf7-submit, .btn-enviar-contato, .navbar-nav-home-menu li a, nav ul li a, a, .item {
  transition: all 0.5s ease; }

.fade-in, .menu-fixed {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .2s; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.icon-white {
  color: #ffffff; }

/*
* Color Classes
*/
.c-white {
  color: #ffffff !important; }

.c-azul-claro {
  color: #41b6d6; }

.c-cinza-5d {
  color: #5d5d5d; }

.c-verde-lodo {
  color: #036422; }

/*
* Background Classes
*/
.bg-azul-claro {
  background-color: #41b6d6; }

.bg-cinza-claro {
  background-color: #898980; }

.btn-saiba-mais {
  border: 2px solid #41b6d6;
  padding: 6px 5px 6px 30px;
  font-family: "Montserrat", sans-serif;
  color: #41b6d6;
  position: absolute;
  font-size: 14px;
  margin: 4px 0 0 10px;
  text-transform: uppercase;
  max-width: 150px; }
  .btn-saiba-mais .label-button {
    border-left: 2px solid #41b6d6;
    padding: 8px; }
  .btn-saiba-mais:after {
    content: '*';
    font-size: 36px;
    position: absolute;
    color: #41b6d6;
    display: inline-block;
    left: 0;
    padding-left: 5px;
    line-height: 1;
    margin: -1px 0 0 2px; }
  .btn-saiba-mais:hover {
    background-color: #41b6d6 !important;
    color: #ffffff !important; }
    .btn-saiba-mais:hover:after {
      color: #ffffff; }
    .btn-saiba-mais:hover .label-button {
      border-left: 2px solid #ffffff; }

.btn-white {
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border: 2px solid #ffffff; }
  .btn-white:hover {
    background-color: transparent;
    color: #ffffff !important;
    opacity: 1 !important; }

.btn-fale-conosco {
  border-radius: 0 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 10px 28px !important;
  background-color: #ffffff;
  color: #41b6d6 !important;
  display: inline-block;
  letter-spacing: 2px; }

.wpcf7-submit {
  border-radius: 0 !important;
  background-color: #898980 !important;
  color: #ffffff;
  display: inline-block;
  padding: 12px 25px;
  text-transform: uppercase;
  margin-top: 5px; }
  .wpcf7-submit:hover {
    background-color: #5d5d5d !important;
    color: #ffffff !important; }

.button-plus {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none !important;
  left: 0;
  margin-left: 20px;
  /* Vertical line */
  /* horizontal line */ }
  .button-plus:before, .button-plus:after {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.25s ease-out; }
  .button-plus:before {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    margin-left: -1px; }
  .button-plus:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -1px; }
  .button-plus:hover {
    cursor: pointer; }
    .button-plus:hover:before {
      transform: rotate(90deg); }
    .button-plus:hover:after {
      transform: rotate(180deg); }

.btn-enviar-contato {
  background-color: #41b6d6 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  font-size: 14px !important;
  margin: 25px 0 0 auto !important;
  border: #41b6d6 2px solid !important;
  padding: 10px 25px !important;
  display: block !important; }
  .btn-enviar-contato:hover {
    border: #ffffff 2px solid !important; }

.input-text,
.input-textarea {
  border-radius: 20px !important;
  border: 1px solid #000000 !important;
  padding: 12px 20px !important;
  font-family: "Montserrat", sans-serif; }

.input-textarea {
  height: 140px; }

.title-section {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 50px;
  font-size: 40px; }
  .title-section:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 15px;
    position: absolute;
    left: 0; }

.title-minor {
  font-family: "Montserrat", sans-serif;
  font-size: 26px; }

.title-default {
  text-transform: uppercase;
  font-size: 60px;
  position: relative;
  display: inline-block;
  font-weight: 700;
  margin-top: 150px; }
  .title-default:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin: 15px auto 20px;
    position: relative; }

.title-nossos-projetos:after {
  background-color: #41b6d6; }

.list-subtitle {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 54px;
  letter-spacing: 10px;
  text-align: left; }

.title-sobre-nos {
  font-size: 60px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  text-transform: uppercase;
  color: #5d5d5d;
  letter-spacing: 12px; }

/**
** @mediaqueries (responsive)
 */
@media (min-width: 320px) {
  .subtext-title {
    font-size: 28px; } }

.icon-plus {
  background-image: url("../img/icons/add.png"); }

.icon, .icon-arrow-left,
.icon-arrow-right {
  width: 64px;
  height: 64px;
  display: inline-block; }

.icon-ampulheta {
  background-image: url("../img/icons/hourglass.png"); }

.icon-user-group {
  background-image: url("../img/icons/user-group.png"); }

.icon-anotation {
  background: url("../img/icons/notes.png") no-repeat;
  width: 85px;
  height: 85px;
  background-size: 100%; }

.icon-arrow-left,
.icon-arrow-right {
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  position: absolute; }

.icon-arrow-left {
  float: left;
  background: url("../img/icons/back.png") no-repeat;
  margin-left: -10%; }

.icon-arrow-right {
  float: right;
  background: url("../img/icons/next.png") no-repeat;
  margin-right: -10%; }

.icon-projetos {
  max-width: 120px;
  display: block;
  margin: 20px auto 0; }

.header-home {
  display: none; }

.logo-home,
.content-top-right {
  display: inline-block; }

.logo-home:hover {
  opacity: 0.7; }

.logo-home-img {
  max-width: 250px;
  position: absolute; }

.menu-fixed {
  display: block !important; }

.logo-home-img,
.content-top-right {
  margin-top: 2%; }

.content-top-right {
  float: right; }

.menu-home-content {
  position: absolute;
  bottom: 0 !important;
  text-align: center;
  display: block;
  margin: 0 auto 3%;
  width: 100%; }

.navbar-nav-home-menu {
  width: 100%;
  list-style: none;
  bottom: 0;
  position: relative;
  text-align: center;
  display: block; }
  .navbar-nav-home-menu li {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    display: inline-block; }
    .navbar-nav-home-menu li:after {
      content: '|';
      display: inline-block;
      top: 0;
      right: 0;
      position: absolute;
      color: #ffffff;
      margin: 13px -25px 2px 0; }
    .navbar-nav-home-menu li:nth-child(4):after {
      margin: 28px -25px 2px 0; }
    .navbar-nav-home-menu li:nth-child(5):after {
      margin: 12px -25px 2px 0; }
    .navbar-nav-home-menu li:nth-child(6):after {
      display: none; }
    .navbar-nav-home-menu li a {
      color: #ffffff;
      font-size: 19px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      opacity: 1 !important;
      line-height: 12px; }
      .navbar-nav-home-menu li a:hover {
        color: #41b6d6; }
        .navbar-nav-home-menu li a:hover:after {
          background-color: #41b6d6; }
    .navbar-nav-home-menu li:nth-child(4) {
      margin-top: -10px; }

.logo-margin-bottom {
  margin-bottom: 30px; }

.social-icon {
  width: 32px; }
  .social-icon:hover {
    opacity: 0.7; }

.switch-chose {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
  margin-bottom: -7px;
  margin-left: 10px; }
  .switch-chose .pt,
  .switch-chose .es {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    margin-bottom: -24px; }
  .switch-chose .pt {
    left: 0; }
  .switch-chose .es {
    right: 0; }
  .switch-chose input {
    display: none; }

.slider-chose {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #ffffff; }
  .slider-chose:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }

input:checked + .slider-chose {
  background-color: transparent; }

input:focus + .slider-chose {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider-chose:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px); }

/* Rounded sliders */
.slider-chose.round {
  border-radius: 34px; }

.slider-chose.round:before {
  border-radius: 50%; }

.icons-social-top {
  z-index: 99;
  display: block; }

.home-begin-content {
  overflow: hidden; }
  .home-begin-content,
  .home-begin-content .container,
  .home-begin-content .row {
    height: 100%; }

.menu-fixed {
  background-color: #ffffff;
  top: 0;
  height: 90px;
  position: fixed;
  display: block;
  padding: 10px 0;
  z-index: 99;
  -webkit-box-shadow: 0 4px 6px -6px #5d5d5d;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 4px 6px -6px #5d5d5d;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 4px 6px -6px #5d5d5d;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222; }
  .menu-fixed .logo-home-fixed {
    display: block;
    width: auto;
    max-width: 100px;
    margin: 0 !important; }
    .menu-fixed .logo-home-fixed .logo-home-img {
      max-width: inherit;
      margin: 0; }
  .menu-fixed #logo-fixed-content {
    display: block; }
  .menu-fixed .navbar-nav-home-menu {
    padding: 12px 0;
    text-align: right; }
    .menu-fixed .navbar-nav-home-menu li {
      font-size: inherit;
      line-height: 20px; }
      .menu-fixed .navbar-nav-home-menu li a {
        font-size: 16px;
        letter-spacing: 0;
        color: #5d5d5d; }
        .menu-fixed .navbar-nav-home-menu li a:hover {
          color: #41b6d6; }

#logo-fixed-content {
  display: none; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.navbar-nav-home-menu .menu-actived {
  color: #41b6d6 !important; }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #41b6d6;
  transition: all .5s ease;
  z-index: 2;
  opacity: 0;
  visibility: hidden; }
  aside.open {
    opacity: 1;
    visibility: visible; }
    aside.open .switch-chose .lang {
      margin-bottom: -10px; }
  aside.close {
    position: fixed;
    top: 40px;
    right: 60px;
    color: white;
    z-index: 3;
    cursor: pointer;
    font-family: sans-serif; }
    aside.close span,
    aside.close span:before,
    aside.close span:after {
      border-radius: 4px;
      height: 5px;
      width: 35px;
      background: white;
      position: absolute;
      display: block;
      content: ''; }
    aside.close span {
      background: transparent; }
    aside.close span:before {
      transform: rotate(45deg); }
    aside.close span:after {
      transform: rotate(-45deg); }
  aside .menu-actived {
    color: #5d5d5d !important; }

nav {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  nav ul {
    top: 100px;
    margin: 10% 0 0 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      align-items: center;
      flex: 1;
      line-height: 10vh; }
      nav ul li a {
        font-size: 3em;
        display: block;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: -2px;
        word-spacing: 5px;
        /* &:before {
          content: "";
          position: absolute;
          width: 25%;
          height: 2px;
          bottom: 0;
          margin: 0 auto;
          text-align: center;
          background: $preto;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }*/ }
        nav ul li a:hover {
          color: #000000;
          transform: scale(1); }
          nav ul li a:hover:before {
            visibility: visible;
            transform: scaleX(1); }

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer; }

/* Icon 1 */
#menu-bars-x {
  width: 50px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 40px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99; }
  #menu-bars-x.open span {
    border: none;
    height: 4px; }
  #menu-bars-x span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border: 1px solid #000000; }

/* Menu Bars X */
#menu-bars-x span:nth-child(1) {
  top: 0px; }

#menu-bars-x span:nth-child(2), #menu-bars-x span:nth-child(3) {
  top: 18px; }

#menu-bars-x span:nth-child(4) {
  top: 36px; }

#menu-bars-x.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#menu-bars-x.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#menu-bars-x.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#menu-bars-x.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/**
** @mediaqueries (responsive)
 */
@media (min-width: 320px) {
  .logo-home-img {
    max-width: 150px; }
  aside nav ul {
    margin-top: 40px; }
    aside nav ul li {
      padding: 5px 0; }
      aside nav ul li a {
        font-size: 2em;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 40px; }
  aside.open .switch-chose .lang {
    margin-bottom: 10px !important; } }

@media (min-width: 768px) {
  aside nav ul {
    margin-top: 80px; }
    aside nav ul li a {
      font-size: 3em;
      letter-spacing: 0;
      word-spacing: 0;
      line-height: 60px; } }

@media (min-width: 992px) {
  .navbar-nav-home-menu li {
    margin: 0 14px; }
    .navbar-nav-home-menu li a {
      font-size: 16px; } }

@media (min-width: 1200px) {
  .navbar-nav-home-menu li {
    margin: 0 20px; }
    .navbar-nav-home-menu li a {
      font-size: 18px;
      line-height: 18px; } }

body,
html {
  background-color: #ffffff;
  max-width: 100%;
  overflow-x: hidden !important; }

body {
  font-family: "Montserrat", sans-serif !important;
  height: 100%; }

#body-pseudelement {
  width: 100%;
  height: 100%; }

a:hover {
  text-decoration: none !important;
  opacity: 0.7; }

.parallax-effect {
  /* Set a specific height */
  width: 100%;
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.bg-home-parallax {
  /* The image used */ }

#home-o-que-fazemos {
  background-image: url("../img/bg/home-fullscreen-bg.jpg"); }

#home-bg-img-parallax-2 {
  background-image: url("../img/bg/bg-img2.png");
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.content-block {
  padding-top: 80px;
  padding-bottom: 80px; }

.little-ball {
  position: absolute;
  margin: 2px;
  display: inline-block;
  font-size: 12px; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-content {
  font-family: "Montserrat", sans-serif;
  font-size: 28px; }

.item {
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 4px 10px 2px #898980;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 4px 10px 2px #898980;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 4px 10px 2px #898980;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .item:hover {
    background-color: #41b6d6; }
    .item:hover .text-box {
      color: #ffffff !important; }
  .item .square-content {
    align-items: center;
    padding: 20px; }
    .item .square-content .img-icon {
      display: block;
      margin: 0 auto 25px;
      text-align: center; }
    .item .square-content .text-box {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      color: #41b6d6;
      text-align: center;
      line-height: 16px;
      font-size: 16px; }

.square-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; }

SquareGrid {
  --content-width: 65vw;
  --gutter: 40px;
  --columns: 1;
  --row-size: calc(
          ( var(--content-width) - (var(--gutter) * (var(--columns) - 1))
          ) / var(--columns)
  );
  display: grid;
  width: 100%;
  max-width: var(--content-width);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter); }

@media (min-width: 450px) {
  SquareGrid {
    --columns: 2; } }

@media (min-width: 750px) {
  SquareGrid {
    --columns: 2; } }

@media (min-width: 1200px) {
  SquareGrid {
    --columns: 4; } }

.modal-content .input-text,
.modal-content .input-textarea {
  width: 100% !important;
  border-radius: 10px !important;
  color: #000000 !important; }

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.negrito {
  font-weight: 700 !important; }

.box-mapa {
  display: block; }

.mapa-brasil {
  display: block;
  width: 100%;
  height: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black; }

.slider {
  border: none !important;
  padding: 0 40px; }

.slick-arrow {
  opacity: 0.7; }
  .slick-arrow:hover {
    opacity: 1;
    cursor: pointer; }

.icon-arrow-right,
.icon-arrow-left {
  top: 0;
  margin-top: 30px;
  position: absolute;
  display: inline-block; }

.icon-arrow-right {
  right: 0; }

.icon-arrow-left {
  left: 0; }

.box-depoimentos {
  text-align: center;
  color: #41b6d6; }
  .box-depoimentos .text-depoimento,
  .box-depoimentos p, .box-depoimentos pre {
    color: #41b6d6;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 24px; }
  .box-depoimentos pre {
    text-align: center;
    display: block;
    overflow: hidden; }
  .box-depoimentos .author-depo {
    font-weight: 700;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    text-align: center; }

.slick-dots {
  bottom: -40px !important;
  display: block; }

.slick-dots li button:before {
  content: '•' !important;
  font-size: 12px !important;
  border: 1px solid #898980;
  border-radius: 50%; }

.slick-slider {
  position: relative;
  display: block; }
  .slick-slider:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: -100px 0 0 0;
    overflow: hidden; }
  .slick-slider:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 0 -30px 0;
    overflow: hidden;
    transform: rotate(180deg); }

.quotes, .slick-slider:before, .slick-slider:after {
  background: url("../img/icons/quote.png");
  width: 64px;
  height: 64px;
  display: block; }

.page-content {
  margin-top: 0;
  padding-bottom: 100px; }

.content-text-bottom {
  bottom: 0;
  margin: 0 0 20% 0 !important;
  letter-spacing: 5px;
  font-weight: 400; }

.page-content {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #5d5d5d;
  text-align: justify; }

.margin-bottom {
  margin-bottom: 100px; }

.row-nossos-projetos {
  margin-bottom: 50px; }
  .row-nossos-projetos:after {
    content: '';
    width: 100%;
    display: block;
    height: 1px;
    background-color: #ebe8e5;
    position: relative;
    margin-top: 50px; }
  .row-nossos-projetos:last-child:after {
    height: 0; }
  .row-nossos-projetos ul {
    list-style: none; }
    .row-nossos-projetos ul li {
      position: relative;
      font-size: 22px;
      margin-bottom: 10px; }
      .row-nossos-projetos ul li:before {
        content: '';
        background-color: #41b6d6;
        width: 8px;
        height: 8px;
        display: inline-block;
        top: 0;
        left: 0;
        position: absolute;
        margin: 14px 0 0 -26px;
        border: none; }
  .row-nossos-projetos a {
    color: #41b6d6; }

.content-full,
.full-content {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0; }

.page-quem-somos .title-default:after {
  background-color: #036422; }

.page-quem-somos .coluna-direita {
  width: 40%;
  display: inline-block;
  position: relative;
  left: 0; }

.page-quem-somos .coluna-esquerda {
  display: inline-block;
  width: 49%;
  margin-left: 50px;
  position: absolute;
  margin-top: 10px; }
  .page-quem-somos .coluna-esquerda .box-logo {
    margin: 0;
    width: 220px; }
  .page-quem-somos .coluna-esquerda img {
    width: 100%; }
  .page-quem-somos .coluna-esquerda .text-after-logo {
    word-spacing: 5px;
    font-size: 16px;
    margin-top: 10px;
    text-align: justify; }

.line-mt {
  margin-top: 80px;
  margin-bottom: 80px; }

.content-sobre-nos {
  background-color: #f2f4f3;
  color: #5d5d5d;
  padding-bottom: 80px; }
  .content-sobre-nos .title-sobre-nos {
    padding-top: 80px; }
  .content-sobre-nos .block-left-image {
    max-height: 400px;
    overflow: hidden; }
  .content-sobre-nos .block-right-text .content-text {
    padding-left: 20px;
    padding-right: 10%; }
    .content-sobre-nos .block-right-text .content-text h4 {
      font-size: 28px;
      display: block;
      font-weight: 700;
      color: #5d5d5d;
      padding: 0 0 30px;
      margin: 0; }
    .content-sobre-nos .block-right-text .content-text p {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 1em; }

.content-a-coordenacao {
  color: #ffffff;
  padding-bottom: 80px; }
  .content-a-coordenacao .box-membrxs {
    margin-bottom: 20px; }
  .content-a-coordenacao .title-section {
    font-weight: 400;
    font-size: 60px;
    padding: 80px 0 0 80px;
    letter-spacing: 8px; }
  .content-a-coordenacao .block-right-text {
    padding-right: 7%; }
  .content-a-coordenacao p {
    margin-bottom: 10px; }
  .content-a-coordenacao .list-coordenacao p {
    padding-bottom: 10px !important; }
  .content-a-coordenacao .cargo {
    padding-top: 10px;
    font-size: 20px; }
  .content-a-coordenacao .nome {
    font-size: 26px; }
  .content-a-coordenacao .resumo {
    font-size: 24px;
    margin-bottom: 30px; }

.section-content .block-left-image {
  max-height: 350px;
  overflow: hidden; }

.section-content .block-right-text {
  padding-right: 7%;
  padding-left: 30px; }
  .section-content .block-right-text p {
    padding-bottom: 0;
    margin-bottom: 0; }

.section-content .content-text {
  font-size: 26px;
  color: #ffffff; }
  .section-content .content-text p {
    margin-bottom: 50px; }
  .section-content .content-text h1, .section-content .content-text h2, .section-content .content-text h3, .section-content .content-text h4, .section-content .content-text h5, .section-content .content-text h6 {
    color: #ffffff; }
  .section-content .content-text h3 {
    font-size: 26px;
    margin: 0;
    padding: 20px 0;
    font-weight: 700; }
  .section-content .content-text h4 {
    font-size: 24px;
    padding: 20px 0; }
  .section-content .content-text h5 {
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 34px; }

.bg-dotted-green {
  background-color: #057261;
  background-image: radial-gradient(circle, #056653 15%, transparent 10%), radial-gradient(circle, #056653 15%, transparent 10%);
  background-size: 25px 25px;
  background-position: 0 0, 63px 87px; }

.mb-0 {
  margin-bottom: 0 !important; }

.page-o-que-fazemos {
  padding-bottom: 60px !important; }
  .page-o-que-fazemos .title-section {
    font-size: 60px;
    letter-spacing: 5px;
    word-spacing: 2px;
    display: inline-block; }
    .page-o-que-fazemos .title-section:after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      background-color: #000000 !important;
      margin-top: 10px;
      position: relative;
      padding: 0 5px; }
  .page-o-que-fazemos p {
    font-size: 24px; }

.page-quem-somos {
  padding: 0; }

#page-quem-somos .content-text h5 {
  padding-top: 30px !important;
  padding-bottom: 15px; }

.wpcf7-validation-errors {
  background-color: #d45858 !important;
  color: #ffffff;
  padding: 20px 10px !important;
  margin: -25px 0  0 0 !important;
  border: none !important;
  text-align: center;
  position: relative;
  border-radius: 15px; }

.imagem-canto {
  position: relative; }
  .imagem-canto img {
    position: absolute; }

.list-objetivos li {
  font-size: 20px;
  margin-bottom: 10px; }

.li-blue-square, .list-objetivos li {
  list-style: none;
  position: relative; }
  .li-blue-square:before, .list-objetivos li:before {
    content: '';
    background-color: #41b6d6;
    width: 8px;
    height: 8px;
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
    margin: 14px 0 0 -26px;
    border: none; }

.o-que-fazemos-bloco-imagens {
  padding: 80px 0;
  width: 100%;
  line-height: 0;
  overflow: hidden;
  -webkit-column-count: 1;
  -webkit-column-gap: 0px;
  -moz-column-count: 1;
  -moz-column-gap: 0px;
  column-count: 1;
  column-gap: 0px; }
  .o-que-fazemos-bloco-imagens .column-img-1,
  .o-que-fazemos-bloco-imagens .column-img-2 {
    width: 100% !important;
    height: auto !important;
    max-height: 540px; }
    .o-que-fazemos-bloco-imagens .column-img-1 img,
    .o-que-fazemos-bloco-imagens .column-img-2 img {
      width: 100%; }

.box-proporcional-img {
  width: 100%;
  margin: 50px 0; }
  .box-proporcional-img img {
    width: 100%; }

/**
** @mediaqueries (responsive)
 */
@media (min-width: 320px) {
  #home-bg-img-parallax-2 {
    height: 150px; }
  .o-que-fazemos-bloco-imagens {
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    column-count: 1;
    column-gap: 0px; }
  .list-coordenacao .box-membrxs .nome, .list-coordenacao .box-membrxs .resumo {
    font-size: 20px; } }

@media (min-width: 768px) {
  #home-bg-img-parallax-2 {
    height: 300px; }
  .o-que-fazemos-bloco-imagens {
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px; }
  .list-coordenacao .box-membrxs .nome, .list-coordenacao .box-membrxs .resumo {
    font-size: 26px; } }

@media (min-width: 992px) {
  #home-bg-img-parallax-2 {
    height: 600px; }
  .o-que-fazemos-bloco-imagens {
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px; } }

#background-img-home {
  background-color: #41b6d6; }

.home .home-begin-content .box-text-home {
  top: 50%;
  transform: translateY(-50%); }

.home-begin-content .box-text-home {
  right: 0;
  position: absolute;
  bottom: 0; }
  .home-begin-content .box-text-home .text-home {
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
    text-align: right;
    font-weight: 300;
    z-index: 0;
    margin: 0;
    padding: 0;
    line-height: 1; }

.lines-fullsize {
  width: 100%;
  height: 8px;
  display: block;
  top: 0; }

#home-quem-somos {
  padding: 100px 0; }
  #home-quem-somos .title-section {
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 4px;
    display: inline-block; }
    #home-quem-somos .title-section:after {
      background-color: #41b6d6; }

.list-quem-somos {
  width: 100%;
  margin-top: 30px; }

.box-content-quem-somos {
  float: left;
  position: relative;
  width: 48%;
  padding-bottom: 38%;
  /* = width for a 1:1 aspect ratio */
  margin: 1%;
  overflow: hidden; }
  .box-content-quem-somos .box-info {
    position: absolute;
    height: 80%;
    /* = 100% - 2*5% padding */
    width: 90%;
    /* = 100% - 2*5% padding */
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #41b6d6;
    font-size: 16px;
    letter-spacing: 3px; }
    .box-content-quem-somos .box-info .text-subtitle {
      width: 100%;
      padding: 10px;
      background-color: #41b6d6;
      display: block; }
      .box-content-quem-somos .box-info .text-subtitle:before {
        content: ''; }

#home-o-que-fazemos {
  background-image: url(../img/bg/o-que-fazemos-home-dark.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000000;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 150px; }
  #home-o-que-fazemos .title-section {
    color: #ffffff;
    display: inline-block;
    font-size: 42px;
    letter-spacing: 3px; }
    #home-o-que-fazemos .title-section:after {
      background-color: #ffffff; }
  #home-o-que-fazemos header .text-content {
    font-size: 26px; }

#home-nossos-projetos {
  padding-top: 80px;
  padding-bottom: 100px; }
  #home-nossos-projetos .title-section {
    display: inline-block;
    font-weight: 400; }
    #home-nossos-projetos .title-section:after {
      background-color: #41b6d6; }

.list-nossos-projetos li {
  display: inline-block;
  background-color: #ffffff;
  text-align: center; }

.list-nossos-projetos .box-square-white {
  display: block;
  text-transform: uppercase;
  color: #41b6d6;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  width: 100%;
  padding-bottom: 24%; }

#home-apoie-nossos-projetos {
  padding-top: 170px;
  padding-bottom: 60px; }
  #home-apoie-nossos-projetos .title-section {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 0 0 40px 10px; }
    #home-apoie-nossos-projetos .title-section:after {
      display: block;
      content: '';
      border-left: 4px solid #ffffff;
      height: calc(100% - 40px);
      position: absolute;
      top: 0;
      margin-left: -30px; }
  #home-apoie-nossos-projetos .subtext-title {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: justify; }

#home-ieh-em-numeros {
  background-image: linear-gradient(139deg, #f2f2f2 8.33%, #ffffff 8.33%, #ffffff 50%, #f2f2f2 50%, #f2f2f2 58.33%, #ffffff 58.33%, #ffffff 100%);
  background-size: 18.29px 15.90px; }
  #home-ieh-em-numeros:before {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #036422;
    top: 0;
    position: relative; }
  #home-ieh-em-numeros .title-section {
    color: #036422;
    font-size: 50px;
    font-weight: 400; }
    #home-ieh-em-numeros .title-section:after {
      background-color: #036422; }
  #home-ieh-em-numeros .list-ieh-numeros li {
    line-height: 160px; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(1) .numero {
      font-size: 80px; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(1) .box-numeros {
      margin-left: 8%; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(1) .text {
      position: absolute;
      margin-top: 45px;
      font-size: 18px; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(2) {
      position: relative; }
      #home-ieh-em-numeros .list-ieh-numeros li:nth-child(2) .pre-text {
        text-align: right !important;
        right: 0;
        padding-right: 5px;
        font-weight: 400;
        font-size: 20px; }
      #home-ieh-em-numeros .list-ieh-numeros li:nth-child(2) .icon, #home-ieh-em-numeros .list-ieh-numeros li:nth-child(2) .icon-arrow-left,
      #home-ieh-em-numeros .list-ieh-numeros li:nth-child(2) .icon-arrow-right {
        display: inline-block;
        position: absolute;
        margin: 45px 0 0 5px; }
      #home-ieh-em-numeros .list-ieh-numeros li:nth-child(2) .text {
        display: inline-block;
        position: absolute;
        margin: 55px 0 0 80px; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .box-numeros {
      margin-left: 10%; }
      #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .box-numeros .numero {
        font-size: 80px;
        position: relative;
        margin-top: -5px; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .icon, #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .icon-arrow-left,
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .icon-arrow-right {
      width: 80px;
      height: 100px;
      margin: 0 10px -20px 10px; }
    #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .text {
      position: absolute;
      margin-top: 55px; }
  #home-ieh-em-numeros .list-ieh-numeros .numero {
    color: #41b6d6;
    font-size: 60px;
    font-weight: 700 !important;
    font-family: "Montserrat", sans-serif;
    display: inline-block; }
  #home-ieh-em-numeros .list-ieh-numeros .pre-text,
  #home-ieh-em-numeros .list-ieh-numeros .text {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    line-height: 20px;
    font-size: 20px; }

.content-mapa {
  position: relative; }
  .content-mapa .box-numeros {
    text-align: right;
    position: absolute;
    width: 100%; }
    .content-mapa .box-numeros .numero {
      color: #41b6d6;
      font-family: "Montserrat", sans-serif;
      font-size: 80px;
      font-weight: 700;
      display: inline-block; }
    .content-mapa .box-numeros .text {
      display: inline-block;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 26px;
      color: #036422;
      margin-left: 10px; }
  .content-mapa .box-mapa {
    padding-top: 50px; }
  .content-mapa .text-area-atuacao {
    padding-top: 30px;
    text-align: justify;
    display: block;
    font-family: "Montserrat", sans-serif; }

#home-depoimentos {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #ebe8e5; }

.bg-stripped-transversal {
  background-image: linear-gradient(149deg, #3f3e40 4.55%, #464a49 4.55%, #464a49 50%, #3f3e40 50%, #3f3e40 54.55%, #464a49 54.55%, #464a49 100%);
  background-size: 42.72px 25.67px;
  padding-top: 50px;
  padding-bottom: 50px; }

#home-apoiadores .title-section {
  text-transform: none;
  text-align: center;
  color: #ffffff;
  font-weight: 500; }

.list-parceiros-apoiadores {
  display: block;
  margin: 0 auto;
  text-align: center; }
  .list-parceiros-apoiadores li {
    margin: 28px !important; }
    .list-parceiros-apoiadores li:nth-child(1) img {
      width: 180px; }
    .list-parceiros-apoiadores li:nth-child(2) img {
      width: 150px; }
    .list-parceiros-apoiadores li:nth-child(3) img {
      width: 200px; }
    .list-parceiros-apoiadores li:nth-child(4) img {
      width: 130px; }
    .list-parceiros-apoiadores li:nth-child(5) img {
      width: 120px; }
    .list-parceiros-apoiadores li:nth-child(6) img {
      width: 130px; }
    .list-parceiros-apoiadores li:nth-child(7) img {
      width: 130px; }
    .list-parceiros-apoiadores li:nth-child(8) img {
      width: 160px; }
    .list-parceiros-apoiadores li:nth-child(9) img {
      width: 120px; }
    .list-parceiros-apoiadores li:nth-child(10) img {
      width: 110px; }
    .list-parceiros-apoiadores li:nth-child(11) img {
      width: 180px; }
    .list-parceiros-apoiadores li:nth-child(12) img {
      width: 120px; }
    .list-parceiros-apoiadores li:nth-child(13) img {
      width: 180px; }

.box-content-quem-somos .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #41b6d6;
  position: absolute;
  margin-left: 9px; }

.modal-fale-conosco {
  font-family: "Montserrat", sans-serif; }
  .modal-fale-conosco .modal-header {
    border-bottom: none !important;
    padding: 0; }
    .modal-fale-conosco .modal-header .close {
      font-size: 45px;
      font-weight: 400; }
  .modal-fale-conosco .modal-dialog {
    max-width: 550px; }
    .modal-fale-conosco .modal-dialog .modal-content {
      background-color: #f2f4f3;
      border-radius: 0 !important;
      padding: 10px 40px 30px; }
  .modal-fale-conosco .modal-body {
    padding: 0; }
  .modal-fale-conosco .modal-title {
    font-size: 26px;
    text-transform: uppercase;
    color: #41b6d6;
    text-align: center;
    margin: 0 auto 20px;
    font-weight: 700; }
  .modal-fale-conosco .text-modal {
    font-size: 16px;
    line-height: 30px;
    color: #41b6d6;
    margin-bottom: 0; }
    .modal-fale-conosco .text-modal a {
      color: #41b6d6;
      font-weight: 700; }
  .modal-fale-conosco label {
    color: #41b6d6;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-top: 20px; }

/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 320px) {
  #background-img-home {
    height: 100%;
    background-color: #41b6d6; }
  .logo-margin-bottom {
    margin-bottom: 0; }
  .home-begin-content .box-text-home {
    margin-top: 50px; }
    .home-begin-content .box-text-home .text-home {
      font-size: 4em; }
  .page-o-que-fazemos .title-section {
    font-size: 40px;
    font-weight: 700;
    text-shadow: 1px 1px #000000; }
  #content-text-oq-fazemos p {
    font-size: 22px;
    text-align: right; }
  .list-objetivos li {
    text-align: left; }
  .bloco-texto-apos-imagens p {
    text-align: center; }
  #home-quem-somos .btn-saiba-mais {
    display: inline-block;
    position: relative; }
  #home-quem-somos .text-content {
    font-size: 28px; }
  .box-content-quem-somos {
    width: 100%;
    padding-bottom: 70%;
    margin: 5%; }
  #home-o-que-fazemos .text-content {
    font-size: 18px; }
  .item .square-content .text-box {
    font-size: 16px;
    line-height: 22px; }
  .item .square-content .img-icon {
    margin: 0 auto; }
  #home-ieh-em-numeros .list-ieh-numeros li .fa-plus {
    margin: -25px 0 0 -5px;
    position: absolute; }
  .content-mapa .box-mapa {
    padding-top: 100px; }
  .content-mapa .text-area-atuacao {
    font-size: 24px; }
  .logo-footer {
    margin: 0;
    padding: 0 30px 30px;
    max-width: 100%; }
  #home-apoie-nossos-projetos .title-section {
    font-size: 40px; }
  #home-apoie-nossos-projetos .subtext-title {
    font-size: 20px;
    text-align: left; }
  #home-apoie-nossos-projetos .btn-white {
    display: block;
    text-align: center; }
  .slick-slider:after {
    margin: 0 -5px 25px 0; }
  #home-ieh-em-numeros .list-ieh-numeros li:nth-child(1) .box-numeros .numero {
    font-size: 60px; }
  #home-ieh-em-numeros .list-ieh-numeros .numero {
    font-size: 50px; }
  #home-ieh-em-numeros .list-ieh-numeros li:nth-child(1) .box-numeros .numero {
    font-size: 60px; }
  #home-ieh-em-numeros .list-ieh-numeros li:nth-child(3) .box-numeros {
    margin-left: 0; }
  #home-ieh-em-numeros .text-area-atuacao {
    font-size: 18px; }
  .slick-dots {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: relative !important; }
  .btn-saiba-mais {
    margin: 10px 0;
    display: block; }
  .box-content-quem-somos .box-info {
    letter-spacing: 0; } }

@media (min-width: 768px) {
  .box-content-quem-somos .box-info {
    letter-spacing: 3px; }
  .icon-arrow-left {
    margin: 8% -2% 0; }
  .icon-arrow-right {
    margin: 8% -2% 0; }
  .box-content-quem-somos {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 40%;
    /* = width for a 1:1 aspect ratio */
    margin: 0;
    overflow: hidden; }
  #background-img-home {
    height: 100%; }
  .home-begin-content .box-text-home .text-home {
    font-size: 5em; }
  .item .square-content .img-icon {
    margin: 0 auto 10px; }
  .item .square-content .text-box {
    font-size: 20px; }
  #home-o-que-fazemos .text-content {
    font-size: 28px;
    letter-spacing: 0;
    word-spacing: 0; }
  #content-text-oq-fazemos p {
    text-align: justify;
    font-size: 24px; }
  .bloco-texto-apos-imagens p {
    text-align: justify; }
  .slick-slider:after {
    margin: 0 -5px -50px 0; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .item .square-content .img-icon {
    margin-bottom: 20px; }
  .item .square-content .text-box {
    font-size: 24px; }
  .icon-arrow-left {
    margin: 0 -20% 0 -5%; }
  .icon-arrow-right {
    margin: 0 -5% 0 -20%; }
  .slick-slider:after {
    margin: 0 0 -30px 0; }
  .list-objetivos li {
    text-align: justify; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .item .square-content .img-icon {
    margin: 0 auto 10px; }
  .item .square-content .text-box {
    font-size: 16px; }
  .icon-arrow-left {
    margin: 0 -20% 0 -10%; }
  .icon-arrow-right {
    margin: 0 -10% 0 -20%; } }

#footer-site {
  background-color: #41b6d6;
  padding: 80px 0 40px; }
  #footer-site .info-text,
  #footer-site .text-address {
    color: #ffffff; }

footer {
  background-color: #41b6d6 !important;
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important; }

.list-info-text {
  margin: 0;
  padding: 0;
  text-align: left; }
  .list-info-text li {
    display: inline-block;
    margin: 0; }
    .list-info-text li .text-address {
      font-weight: 700; }
    .list-info-text li:nth-child(2) {
      margin: 0 14px; }
    .list-info-text li .ball1 {
      margin: 2px -12px; }
    .list-info-text li .ball2 {
      margin: 2px 6px; }
  .list-info-text .text-address {
    text-transform: uppercase;
    font-size: 16px; }

.info-text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 2; }

.logo-footer {
  width: 100%;
  max-width: 230px;
  opacity: 1;
  margin-right: 20px; }

.list-info-contact {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

/**
** @mediaqueries (responsive)
 */
@media (min-width: 320px) {
  .page-quem-somos .title-default {
    margin-top: 80px;
    font-size: 50px; }
  .page-quem-somos .coluna-direita {
    width: 100%;
    margin-bottom: 20px; }
  .page-quem-somos .coluna-esquerda {
    display: block;
    width: 100%;
    /* margin-left: 50px; */
    position: relative;
    margin-top: 10px; }
  .page-content {
    font-size: 20px;
    text-align: left; }
  .block-left-image {
    margin-bottom: 20px; }
  .content-sobre-nos .block-right-text .content-text h4 {
    line-height: 28px; }
  .content-a-coordenacao .title-section {
    padding: 0;
    letter-spacing: 0;
    font-size: 30px;
    margin-left: 10px; }
  .section-missao .title-section {
    padding: 0;
    text-align: left;
    font-size: 40px;
    margin-left: 10px; }
  .section-transparencia .title-section {
    margin: 30px auto;
    font-size: 30px;
    letter-spacing: 0;
    font-weight: 500;
    display: block;
    position: relative;
    text-align: center; }
  .section-transparencia .content-text ul li {
    font-size: 18px; } }

@media (min-width: 768px) {
  .page-quem-somos .coluna-direita {
    width: 40%; }
  .page-quem-somos .coluna-esquerda {
    display: inline-block;
    width: 49%;
    margin-left: 50px;
    position: absolute;
    margin-top: 10px; }
    .page-quem-somos .coluna-esquerda .box-logo {
      margin: 0;
      width: 220px; }
  .section-missao .title-section {
    font-size: 80px;
    margin-left: 40px; }
  .section-missao .content-text {
    text-align: left; }
    .section-missao .content-text p {
      font-size: 20px; }
  .section-transparencia .title-section {
    font-size: 50px;
    margin-left: 20px; } }

@media (min-width: 992px) {
  .page-quem-somos .page-content-text {
    text-align: justify; }
  .page-quem-somos .content-text p {
    text-align: justify; }
  .page-quem-somos .content-a-coordenacao .title-section {
    font-weight: 400;
    font-size: 60px;
    padding: 80px 0 0 80px;
    letter-spacing: 8px; }
  .page-quem-somos .section-missao .title-section {
    padding: 80px 0 0 0;
    font-size: 60px;
    font-weight: 400; }
  .page-quem-somos #page-content.page-quem-somos {
    padding-bottom: 0 !important; }
  .page-quem-somos .section-transparencia {
    padding-bottom: 80px; }
    .page-quem-somos .section-transparencia .title-section {
      margin: 120px 0 80px 80px;
      font-size: 63px;
      letter-spacing: 12px;
      font-weight: 500; }
    .page-quem-somos .section-transparencia h4 {
      padding-top: 40px; }
    .page-quem-somos .section-transparencia .content-text-block-3 {
      line-height: 42px; }
    .page-quem-somos .section-transparencia .content-text ul li {
      font-size: 22px; } }

.section-missao .content-text p {
  font-size: 20px;
  line-height: 34px; }

/**
** @mediaqueries (responsive)
 */
@media (min-width: 320px) {
  .page-nossos-projetos .title-default {
    font-size: 46px;
    margin-top: 100px; }
  .page-nossos-projetos .list-subtitle {
    font-size: 40px;
    letter-spacing: 0; } }

/**
** @mediaqueries (responsive)
 */

/*# sourceMappingURL=ieh.css.map */